.wallet-btn img {
    width: 20px;
    height: 20px;
}

.wallet-btn span {
    width: 100%;
    padding: 0 15px 1px 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.custom-header {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.coin-type {
    margin-left: 2px;
    font-weight: bold;
}

.balance-amount {
    margin-left: 10px;
    font-weight: bold;
}

.divider {
    margin-left: 10px;
    font-size: 16px;
}