.custom-wallet-btn {
    border-radius: 15px;
    background-color: transparent;
    border-color: #4BDB91;
    color: #4BDB91;
    font-size: 12px;
    padding: 0 20px 0 20px;
}

.coin-type {
    font-weight: bold;
}

.balance-amount {
    font-weight: bold;
}

.divider {
    font-size: 16px;
}