.App {
  background-color: #EDEDED;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  min-height: 100vh;
  text-transform: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-btn {
  background-color: black !important;
  height: 25px !important;
  text-align: center !important;
  width: 90px !important;
  border-radius: 20px !important;
  padding: 0 !important;
  display: inline-block;
  line-height: 0 !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.custom-btn:hover {
  opacity: 80%;
}
