.custom-btn-homepage {
    background-color: black !important;
    height: 30px;
    text-align: center;
    width: 90px !important;
    border-radius: 20px !important;
    padding: 0;
    display: inline-block;
    line-height: 0 !important;
    font-size: 14px;
    font-weight: bold;
}

.custom-card-homepage {
    color: black;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    box-shadow: 1px 1px 2px 2px rgb(218 218 222), -1px -1px 2px #fff;
}
